.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #000000;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 22px ), repeating-linear-gradient( #c92d5c55, #c92d5c );

  .mobileContainer {
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('../../public/assets/gabidias.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;

    .navContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      filter: brightness(0);
      
      :is(div) {
        cursor: pointer;
        transition: transform 0.4s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .gradientContainer {
      width: 115%;
      height: 50%;
      transform: translateY(22px);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0,0,0,1) 85%, rgba(255,255,255,0) 100%);

      .ctaContainer {
        width: 90%;
        height: 200px;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 50px;
        background: white;
        padding: 10px;
        border-radius: 10px;
        transition: 0.4s;
        margin-top: 100px;

        &:hover {
          background: rgb(209, 209, 209);
        }

        :is(div) {
          transition: 0.4s;
          &:hover {
            transform: scale(1.2);
          }
        }

        .title {
          font-weight: 600;
          font-size: 20px;
        }

        .description {
          font-weight: 500;
          font-size: 14px;
        }

        .line {
          width: 200px;
          height: 1px;
          background: black;
        }

        .button {
          background: #c92d5c;
          padding: 10px 45px;
          border-radius: 7px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}